In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

#create a date variable that contains the dates
dates = [datetime(2011, 1, 2),
datetime(2011, 1, 5),
datetime(2011, 1, 7),
datetime(2011, 1, 8),
datetime(2011, 1, 10),
datetime(2011, 1, 12)]

#with this date object, create a series
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)

Date Index
 2011-01-02    0.112005
2011-01-05   -1.861951
2011-01-07    0.255939
2011-01-08   -0.355623
2011-01-10    0.483160
2011-01-12   -0.299427
dtype: float64

In [2]:
print("\nDate Index alone from the series: ",ts.index)

Date Index alone from the series:  DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [3]:
stamp=ts.index[2]
print("\nSecond index:\n", stamp)

Second index:
 2011-01-07 00:00:00

In [4]:
#play like a ball with long-times series
longer_ts=pd.Series(np.random.randn(1000),
index=pd.date_range("2000-01-01",periods=1000))
print("\nDaterange up to 1000 days:\n",longer_ts)

Daterange up to 1000 days:
 2000-01-01    0.660703
2000-01-02   -0.612415
2000-01-03    0.476774
2000-01-04    1.200795
2000-01-05   -0.898678
                ...
2002-09-22    0.118416
2002-09-23   -0.386432
2002-09-24    1.454688
2002-09-25    0.340341
2002-09-26    0.240658
Freq: D, Length: 1000, dtype: float64

In [6]:
print("\nDate range-2001 year:\n", longer_ts["2001"])

Date range-2001 year:
 2001-01-01   -0.240030
2001-01-02    2.421156
2001-01-03   -2.987387
2001-01-04   -0.632986
2001-01-05    0.323282
                ...
2001-12-27    1.217855
2001-12-28    0.897152
2001-12-29    0.316389
2001-12-30    1.558155
2001-12-31   -0.489021
Freq: D, Length: 365, dtype: float64

In [8]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01   -0.298999
2001-05-02    0.441584
2001-05-03    1.073529
2001-05-04    0.773411
2001-05-05   -1.450116
2001-05-06   -0.604785
2001-05-07    1.582796
2001-05-08   -0.561200
2001-05-09   -0.318832
2001-05-10   -0.400325
2001-05-11   -0.749633
2001-05-12    1.163200
2001-05-13   -0.844594
2001-05-14    0.560873
2001-05-15   -1.161660
2001-05-16    1.286326
2001-05-17    0.101008
2001-05-18   -0.444232
2001-05-19   -0.758373
2001-05-20   -0.847374
2001-05-21   -0.076626
2001-05-22   -1.216501
2001-05-23    2.698857
2001-05-24   -0.372065
2001-05-25    0.461427
2001-05-26   -0.199499
2001-05-27    1.189969
2001-05-28    0.417951
2001-05-29    0.032341
2001-05-30   -0.118526
2001-05-31   -1.067347
Freq: D, dtype: float64

In [9]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01    0.660703
2000-01-02   -0.612415
2000-01-03    0.476774
2000-01-04    1.200795
2000-01-05   -0.898678
Freq: D, dtype: float64

In [10]:
print("\nDate range-first 15 dates in 02 month 2001 year:\n",longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year:
 2000-02-01   -0.201693
2000-02-02   -0.701243
2000-02-03   -0.318727
2000-02-04   -0.265773
2000-02-05   -0.196826
2000-02-06    0.425311
2000-02-07    1.399413
2000-02-08    1.334175
2000-02-09    0.333356
2000-02-10   -0.060426
2000-02-11   -0.362374
2000-02-12   -0.620922
2000-02-13   -0.196599
2000-02-14   -1.481911
2000-02-15   -1.963489
Freq: D, dtype: float64

In [11]:
print("\nDate range-rom 26-9-2001:\n",longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001:
 2000-09-26    0.032824
2000-09-27   -1.239122
2000-09-28   -0.092667
2000-09-29   -1.103922
2000-09-30   -1.620268
                ...
2002-09-22    0.118416
2002-09-23   -0.386432
2002-09-24    1.454688
2002-09-25    0.340341
2002-09-26    0.240658
Freq: D, Length: 731, dtype: float64